@import '../../styles/variables';

.container {
  background: rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);
  cursor: pointer;
  padding: 10px;
  margin-bottom: 25px;
  height: 500px;
  color: $white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  p {
    text-align: center;
  }
  .graphContainer {
    height: 100%;
    width: 100%;
    .graph {
      color: $white;
      .xAxis {
        color: $white;
        stroke: $white;
        fill: $white;
      }
    }
  }
}

@media (max-width: 768px) {
  .graphContainer {
    .graph {
      font-size: 15px;
    }
  }
}
