@import '../../styles/variables';

.container {
  position: relative;
  color: white;
  min-height: 100vh;
  background-image: url('../../assets/images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark;
  .cardList {
    margin-bottom: 25px;
  }
  .radio {
    display: flex;
    justify-content: flex-end;
  }
}
