@import '../../styles/variables';

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .fab {
    background-color: $dark;
    color: $white;
    overflow: hidden;
    :hover {
      background-color: $primary;
    }
    .icon {
      height: 40px;
      width: 40px;
    }
  }
  .label {
    height: 100%;
  }
}
